{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Veterinaria Hogar Animal</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/LOGO.PNG' %}" />
    <script src="{% static 'js/nav.js' %}"></script>
</head>
<body>
<header class="header">
    <div class="logo">
      <img class="imglogo" src="{% static 'img/LOGO.PNG' %}" alt="Logo">
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link" href="/">Inicio</a></li>
          {% if user.is_authenticated %}
          <li class="nav-item"><a class="nav-link" href="{% url 'citas' %}">Citas Agendadas</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'citas_completed' %}">Citas Completadas</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'create_cita' %}">Crear Cita</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'lista_mascotas' %}">Lista de Mascotas</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'agregar_mascota' %}">Agregar Mascota</a></li>
          <li class="nav-item"><a class="nav-link" href="/logout">Cerrar sesión</a></li>
          {% else %}
          <li class="nav-item"><a class="nav-link" href="/signin">Iniciar sesión</a></li>
          <li class="nav-item"><a class="nav-link" href="/signup">Registrarse</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>

    <a onclick="abrirNav()" href="#" class="menu"><button>Menu</button></a>

    <div class="sobre" id="menu-movil">
      <a onclick="cerrarNav()" href="#" class="cerrado">&times;</a>
      <div class="sobre-contenido">
        <li><a href="/">Inicio</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'citas' %}">Citas Agendadas</a></li>
        <li><a href="{% url 'citas_completed' %}">Citas Completadas</a></li>
        <li><a href="{% url 'create_cita' %}">Crear Cita</a></li>
        <li><a href="{% url 'lista_mascotas' %}">Lista de Mascotas</a></li>
        <li><a href="{% url 'agregar_mascota' %}">Agregar Mascota</a></li>
        <li><a href="/logout">Cerrar sesión</a></li>
        {% else %}
        <li><a href="/signin">Iniciar sesión</a></li>
        <li><a href="/signup">Registrarse</a></li>
        {% endif %}
      </div>
    </div>
</header>

{% block content %}
{% endblock %}

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>
</body>
</html>
